<div class="row">
  <div class="col-6 ">
    <img src="../../assets/CV_Cuttat_Gris.png" class="w-100 mt-0 ms-0">
  </div>
  <!-- <div class="col-6">
    <h1 class="text-center mt-5 fs-1 fw-bold">Présentation</h1>
    <p class="fs-2 mt-5">Compétences :</p>
    <h4>langages</h4>
    <ul>
      <li>HTML, JavaScript, CSS</li>
      <li>Angular, TypeScript, SCSS</li>
      <li>PHP, JSON</li>
      <li>C#, WPF, XAML</li>
      <li>Python, Go</li>
    </ul>
    <h4>Software / Framework</h4>
    <ul>
      <li>IDE: Visual Studio, Visual Studio Code</li>
      <li>Framework: Angular, .NET Framework, Node.js</li>
      <li>Library: Bootstrap</li>
      <li>Plateforme: Azure, PhpMyAdmin, SharePoint</li>
      <li>FileZilla, Git, Blend, Access</li>
    </ul>
    <h2>Passions</h2>
    <p>Tout ce qui touche aux nouvelles technologies me passionne depuis toujours. Que ce soit le développement web / software, la blockchaine ou encore le hardware. </p>
    <p>Cependant le développement à un attrait tout particulier pour moi et c'est la résolution des problèmes.</p>
    <p>J'ai tendance à ne pas lâcher quand un problème me tien tête, c'est toujours un grand plaisir de réussire à les résoudre.</p>
    <p>Hormis le développement, j'aime aussi beaucoup le sport. Ayant participé à une grande partie des grandes courses populaires de Suisse romande,
      j'ai ensuite terminé plusieurs marathons, ce qui m'a donné envie de m'attaquer à un Ultra</p>
  </div> -->
</div>
