<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<div *ngIf="pokemon" class="row w-50 m-auto pb-5 mt-5 shadow">
  <div class="col s12 m8 offset-m5 mx-5">
    <h2 style="font-size: 7vw;" class="header text-center mb-5">{{pokemon.name}}</h2>
    <div class="card horizontal hoverable border-0">
      <div class="card-image ms-5">
        <img class="w-25 " src="{{pokemon.GIF}}">
      </div>
      <div class="card-stacked border border-3">
        <div class="card-content">
          <table class="table table-striped mb-0">
            <tbody>
              <tr>
                <td>Nom</td>
                <td><strong>{{ pokemon.name }}</strong></td>
              </tr>
              <tr>
                <td>Points de vie</td>
                <td><strong>{{ pokemon.hp }}</strong></td>
              </tr>
              <tr>
                <td>Dégâts</td>
                <td><strong>{{ pokemon.cp }}</strong></td>
              </tr>
              <tr>
                <td>Défense</td>
                <td><strong>{{ pokemon.def }}</strong></td>
              </tr>
              <tr>
                <td>Vitesse</td>
                <td><strong>{{ pokemon.Speed }}</strong></td>
              </tr>
              <tr>
                <td>Special</td>
                <td><strong>{{ pokemon.Special }}</strong></td>
              </tr>
              <tr>
                <td>Types</td>
                <td>
                  <span *ngFor="let Type of pokemon.types">
                    <p *ngIf="Type" class="{{Type | pokemonTypeColor}}">{{Type}}</p>
                  </span>
                  <!-- <span class="{{pokemon.types | pokemonTypeColor}}">{{pokemon.types}}</span>
                  <span *ngIf="pokemon.Type2 != ''" class="{{pokemon.types | pokemonTypeColor}}"> {{pokemon.Type2}}</span> -->
                </td>
              </tr>
              <tr>
                <td>Description</td>
                <td>{{ pokemon.Description }}</td>
              </tr>

            </tbody>
          </table>
      </div>
    </div>
    <div class="row mt-3">
      <button (click)="goBack()" class="btn btn-primary col-7 m-auto">Retour</button>
      <button (click)="goToEditPokemon(pokemon)" class="btn btn-warning col-3 m-auto">Editer</button>
    </div>
  </div>
</div>
<h4 *ngIf='!pokemon' class="center">Aucun pokémon à afficher !</h4>


